body {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

main {
    width: 1000px;
    height: 840px;
    display: grid;
    grid-template-rows: 10% 5% 10% 40% 35%;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: antiquewhite;
    width: 100%;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    font-size: 2.4rem;
    color: forestgreen;
    font-family: 'Hanalei Fill', cursive;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
}

.magnify {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 30px;
}

.search-input {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 0px 0px 0px 20px;
    width: 370px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 80px;
}

.shop {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: right;
    width: 20%;
}

.shop-graphic {
    justify-content: right;
}

.shop-options {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.bag {
    text-align: left;
}

.list {
    text-align: left;
}

.options {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background: forestgreen;
    color: lightgray;

}

.offer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: slategray;
    color: white;
}

.offer-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.offer-details {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 65%;
    padding: 0px 0px 0px 20px;
}

.sale {
    display: grid;
    background-color: crimson;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Noto Sans', sans-serif;
}

.sale-detais {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    
}

.categories {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.women {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footwear {
    display: flex;
    align-items: center;
    justify-content: center;
}

.men {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearance {
    display: flex;
    align-items: center;
    justify-content: center;
}



